body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 700
}
#particles-js{ position:absolute; width: 100%; height: 99.7%; background-color: var(--background-color); background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 

#particles-js h1 {
    font-size: 15vw;
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: -10% 0 0 0;
}
#particles-js p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

#particles-js input {
    height: 80px;
    width: 400px;
    border-radius: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border: 2px solid white;
    margin: 9% 0 0 0;
}

#particles-js input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFF;
    text-align: center;
}
#particles-js input {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFF;
    text-align:center;
}